<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Portal Proveedores</h1>
            <h3 class="mb-5">
                <em>Ingresa al portal para registrar los datos de tu proveedor</em>
            </h3>
            <a class="btn btn-bd-primary btn-lg" href="/signin">
                Ingresar al portal
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>