<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="empresa" class="form-control" placeholder="Empresa" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="rubro" class="form-control" placeholder="Rubro" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="date" name="fecha" class="form-control" placeholder="Fecha" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="domicilio" class="form-control" placeholder="Domicilio" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="RFC" class="form-control" placeholder="RFC" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" rows="2" class="form-control" placeholder="Descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-bd-primary btn-block">
                                Guardar
                            </button>
                        </div>
                         <div class="form-group">
                    <a class="btn btn-bd-primary btn-block" href="/profile/">
                        Regresar
                    </a>
                    
                </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>