<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/signup" method="post">
				
					
				
 
       
         
            <h3>Registrar <strong>Usuario</strong></h3>
            <p class="mb-4">Para poder ingresar al portal de proveedores debes estar registrado.</p>
            
              <div class="form-group first">
                <label for="username">Nombre completo</label>
                <input type="text" class="form-control" placeholder="Tu nombre completo"  name="fullname" id="fullname">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Usuario</label>
                <input type="text" class="form-control" placeholder="Tu Usuario" id="username" name="username">
              </div>
               <div class="form-group last mb-3">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" placeholder="Tu contraseña" id="password" name="password">
              </div>
              
              
            <button class="btn btn-bd-primary btn-block">
              Registrar
            </button>
              

            
         
       
     


				

				
				</form>

				<div class="login100-more" style="background-image: url('img/bg-022.jpg');">
				</div>
			</div>
		</div>
	</div>